.accordion {
  list-style-type: none;
  margin: 0;
  background: $color-white;
  border: 1px solid $color-border;
  border-bottom: none;
  border-radius: 2px;
  
  @include bp-mobile {
    border: none;
    background: $color-bg;
  }
}
.accordion__item {
  border-bottom: 1px solid $color-border;
  margin-bottom: 0;
  
  @include bp-mobile {
    &.accordion__item--idcard {
      display: none;
    }

    border-bottom: none;
  }
}
.accordion__trigger {
  position: relative;
  width: 100%;
  background: $color-white;
  border: none;
  text-align: left;
  font-size: 1.125em;
  color: $color-link;
  padding: 0.944em 1.9em 0.6em 1.3em;
  cursor: pointer;
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 1.9em;
    top: 50%;
    transform: translateY(-50%);
    width: 1.278em;
    height: 0.667em;
    background: url(../assets/images/arrow.svg) center center no-repeat;
    background-size: cover;
  }
  
  &--expanded ~ .accordion__content {
    visibility: visible;
    max-height: 20em;
    padding-bottom: 1.875em;
    padding-top: 0.438em;
  }
  
  &--expanded:after {
    transform: translateY(-50%) scaleY(-1);  
  }
    
  @include bp-mobile {
    display: none;  
  }
}
.accordion__image {
  width: 4.11em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.889em;
}
.accordion__content {
  font-size: 1em;
  padding: 0 2.188em 1.875em 1.813em;
  display: block;
  visibility: hidden;
  max-height: 0;
  min-height: 1px;
  overflow: hidden;
  padding-bottom: 0;
  transition: all 500ms;
  
  @include bp-mobile {
    visibility: visible;
    max-height: 10em;
    overflow: visible;
    border-bottom: none;
//    padding: 0 0 1.875em 0;
    padding: 0;
    transition: none;
  }
}

.no-js .accordion__content {
  height: auto;
  max-height: 10em;
  overflow: visible;
  padding-bottom: 1.875em;
}
















