// Box component

.box {
  font-size: 1rem;
  width: 31.88em;
  margin: 1rem auto;
  padding: 2.188em 3.125em 2.375em 3.125em;
  background: $color-bg;
  
  @include bp-mobile {
    margin: 0;
    padding: 2em 1.563em 2.75em 1.563em;
    width: 100%;
  }
}
.box__header {
  text-align: center;
}
.box__logo {
  display: inline-block;
  width: 16.875em;
  height: 6.438em;
  
  @include bp-mobile {
    width: 100%;
  }
}
.box__logo-image {
  width: 16.875em;
  height: 6.438em;
  @include bp-mobile {
    width: 100%;
    height: auto;
  }
}
.box__title {
  font-size: 1.25em;
  width: 17em;
  margin: 0 auto;
  text-align: center;
  
  .box__title--desktop {
    display: block;
    margin: 1.05em auto 1.2em auto;
  }
  .box__title--mobile {
    display: none;
  }
  
  @include bp-mobile {
    width: 13.5em;
    
    .box__title--mobile {
      display: block;
      margin: 0.8em auto 2em auto;
    } 
    .box__title--desktop {
      display: none;
    }
  }
}
.box__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.313em;
  padding-top: 0.688em;
  border-top: 1px solid $color-border;
  
  @include bp-mobile {
    margin-top: 2.063em;
  }
}

.box__footer-link {
  font-size: 0.875em;
  
  &:not(:last-child) {
    margin-right: 1em;
  }
}