// Box component

.box {
  width: rem-calc(510);
  margin: 1rem auto;
  padding: rem-calc(35) rem-calc(50) rem-calc(38) rem-calc(50);
  background: $color-bg;
  
  @include bp-mobile {
    margin: 0;
    padding: rem-calc(45) rem-calc(25) rem-calc(44) rem-calc(25);
    width: 100%;
  }
}
.box__header {
  text-align: center;
}
.box__logo {
  display: inline-block;
  width: rem-calc(270);
  height: rem-calc(103);
  
  @include bp-mobile {
    width: 100%;
  }
}
.box__logo-image {
  width: rem-calc(270);
  height: rem-calc(103);
  @include bp-mobile {
    width: 100%;
    height: auto;
  }
}
.box__title {
  width: rem-calc(272);
  margin: 0 auto;
  text-align: center;
  
  .box__title--desktop {
    display: block;
    margin: rem-calc(21) auto rem-calc(24) auto;
  }
  .box__title--mobile {
    display: none;
  }
  
  @include bp-mobile {
    .box__title--mobile {
      display: block;
      margin: rem-calc(16) auto rem-calc(40) auto;
    } 
    .box__title--desktop {
      display: none;
    }
  }
}
.box__footer {
  display: flex;
  justify-content: space-between;
  margin-top: rem-calc(21);
  padding-top: rem-calc(11);
  border-top: 1px solid $color-border;
  
  @include bp-mobile {
    margin-top: 0;
  }
}
.box__footer-link {
  font-size: rem-calc(14);
  &:not(:last-child) {
    margin-right: 1rem;
  }
  @include bp-mobile {
    font-size: rem-calc(16);
  }
}