// Footer

.page-footer {
  color: $color-white;
  font-size: 0.875em;
  text-align: center;
  
  a {
    color: $color-white;
    text-decoration: none;
  }
  
  @include bp-mobile {
    display: none;
  }
}