// Page

body {
  color: $color-text;
  font-family: $font-roboto;
  font-size: $rem-base;
  background: url('../assets/images/bg.jpg') bottom center no-repeat;
  background-size: cover;
  
  &.fullpage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}