// Colors
$color-white: #fff;
$color-black: #000;

$color-light-blue: #008bc8;
$color-middle-blue: #006ac2;
$color-dark-blue: #006cbf;

$color-lightest-grey: #f6f8fa;
$color-light-grey: #d3d5d5;
$color-middle-grey: #9d9a9e;
$color-dark-grey: #616161;
$color-darkest-grey: #4a4a4a;

// Text
$color-text: $color-dark-grey;
$color-heading: $color-darkest-grey;

// Links
$color-link: $color-dark-blue;

// BG and Borders
$color-bg: $color-lightest-grey;
$color-border: $color-light-grey;
