{% block html_head_container %}

  {% include 'partials/html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
  <header class="page-header">
    {% block header %}
      <a href="{{site.url}}" rel="home">{{site.name}}</a>
    {% endblock %}
  </header>
 
  <main class="page-content">
    {% block content %}
      Sorry, no content
    {% endblock %}
  </main>

  {% block footer %}
    <footer class="page-footer">
      {% include 'partials/footer.twig' %}
    </footer>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="scripts/polyfill.min.js"></script>
    <script type="text/babel" src="scripts/{{ assetPath('bundle.js') }}"></script>
  {% endblock %}
</body>
</html>
