.form__label {
  display: block;
}
.form__input {
  display: block;
  border: 1px solid $color-border;
  border-radius: 2px;
  width: 100%;
  height: rem-calc(36);
  margin-bottom: rem-calc(17);
  padding-left: rem-calc(17);
}
.button {
  display: block;
  height: 36px;
  font-size: rem-calc(14);
  text-transform: uppercase;
  color: $color-white;
  background: $color-middle-blue;
  border: 1px solid $color-border;
  border-radius: 2px;
  width: 100%;
  
  @include bp-mobile {
    font-size: rem-calc(16);
  }
}

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: $color-text;
  font-size: rem-calc(14);
  opacity: 1;
  @include bp-mobile {
    font-size: rem-calc(16);
  }
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-text;
  font-size: rem-calc(14);
  opacity: 1;
  @include bp-mobile {
    font-size: rem-calc(16);
  }
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-text;
  font-size: rem-calc(14);
  opacity: 1;
  @include bp-mobile {
    font-size: rem-calc(16);
  }
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-text;
  font-size: rem-calc(14);
  opacity: 1;
  @include bp-mobile {
    font-size: rem-calc(16);
  }
}
::-ms-input-placeholder { /* Edge */
  color: $color-text;
  font-size: rem-calc(14);
  opacity: 1;
  @include bp-mobile {
    font-size: rem-calc(16);
  }
}
:placeholder-shown { /* Standard one last! */
  color: $color-text;
  font-size: rem-calc(14);
  opacity: 1;
  @include bp-mobile {
    font-size: rem-calc(16);
  }
}