.notice {
  width: 100%;
  height: rem-calc(40);
  line-height: rem-calc(40);
  text-align: center;
  background: $color-white;
  @include bp-mobile {
    background: $color-bg;
  }
}
.notice__link {
  display: block;
}